<h2>Добавить нового автора</h2>
  <form (submit)="addAuthor()">
    <label for="lastName">Фамилия:</label>
    <input type="text" id="lastName" [(ngModel)]="newAuthor.lastName" >

    <label for="name">Имя:</label>
    <input type="text" id="name" [(ngModel)]="newAuthor.name" >
    <label for="middleName">Отчество:</label>
    <input type="text" id="middleName" [(ngModel)]="newAuthor.middleName" >

    <label for="birthdate">Дата рождения:</label>
    <input type="date" id="birthdate" [(ngModel)]="newAuthor.birthdate" >

    <button type="submit">Добавить</button>
  </form>

<div>
  <h2>Список авторов</h2>
  <table>
    <tr *ngFor="let author of authors">
      <td>{{ author.lastName }}</td>, <td>{{ author.name }}</td>, <td>{{ author.middleName }}</td>,
      <td>{{ author.birthdate | date }}</td>
    </tr>
  </table>

  
</div>