<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <i class="material-icons">menu</i>
  </button>
  <span>Список книг</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <i class="material-icons">book</i>
    <span>Добавить книгу</span>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <i class="material-icons">people</i>
    <span>Добавить автора</span>
  </button>
</mat-toolbar>
